body {
    background-image: url("/static/images/to_do.jpg");
    background-size: cover;
    align-items: center;
}

.flash-msg {
    background-color: lavender;
}

.heading1 {

    font-family: "Dancing Script", cursive;
    color: #fbfff1ff;
    font-size: 100px;
}

.heading2 {

    font-family: "Gloock", sans-serif;
    color: #fbfff1ff;
    font-size: 40px;
    overflow-wrap: break-word;
    text-align: center;
}

.subhead {

    color: #3B5249;
}

#body_cont {

    justify-content: center;
    align-items: center;
    padding: 150px;
    position: relative;

}
/* what is container below referring to? */
/* #container {

    background-color:#fbfff1ff;
    background-size: cover;
    opacity: .5;
    padding: 20px;
    align-items: center;
    position: relative;

} */

#container_dashboard {

    background-color: #fbfff1ff;
    justify-content: center;
    align-items: center;
    padding: 100px;
    position: relative;

}

#logo {

    background-color:#3c1642ff;
    
    /* background-size: cover; */
    opacity: .8;
    justify-content: center;

}

#tag_line {

    background-color: #3c1642ff;
    /* background-size: cover; */
    opacity: .8;
    justify-content: center;

}

#login_cont {

    background-color: #fbfff1ff;
    /* background-size: cover; */
    opacity: .8;
    justify-content: center;
    padding: 20px;


}

#login {

    opacity: 1;
    padding: 10px;
    font-family: "Gloock", sans-serif;


}

.complete {

    text-decoration: line-through,

}

/* color scheme
CSS HEX
--ivory: #fbfff1ff;
--paynes-gray: #385f71ff;
--salmon-pink: #e5989bff;
--russian-violet: #3c1642ff;
--satin-sheen-gold: #cba328ff;
--feldgrau green: #3B5249 */