body {
    background-image: url("/static/images/to_do.jpg");
    background-size: cover;
}

.flash-msg {
    background-color: lavender;
}

.heading {

    font-family: Arial, Helvetica, sans-serif;
    color: #fbfff1ff;
}

.subhead {

    color: #3B5249;
}

#body_cont {
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#container {
    background-color:#fbfff1ff;
    /* background-size: cover; */
    opacity: .8;
    padding: 20px;
}

#logo {
    background-color:#3c1642ff;
    
    /* background-size: cover; */
    opacity: .8;
    justify-content: center;
}

#tag_line {
    background-color: #3c1642ff;
    /* background-size: cover; */
    opacity: .8;
    justify-content: center;
}

#login_cont {
    background-color: #fbfff1ff;
    /* background-size: cover; */
    opacity: .8;
    justify-content: center;
}

.complete {
    text-decoration: line-through,
}

/* color scheme
CSS HEX
--ivory: #fbfff1ff;
--paynes-gray: #385f71ff;
--salmon-pink: #e5989bff;
--russian-violet: #3c1642ff;
--satin-sheen-gold: #cba328ff;
--feldgrau green: #3B5249 */