<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/css/bootstrap.min.css" rel="stylesheet" crossorigin="anonymous">
        <title>
            {% block title %} Base template {% endblock %}

        </title>
        {% block head %}

        {% endblock %}
    </head>
    <body>
        {% block body %} Base template body {% endblock %}
            {% for msg in get_flashed_messages() %}
      <p class="flash-msg">
        {{ msg }}
      </p>


    {% endfor %}
    {% block js %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js" crossorigin="anonymous"></script>
    {% endblock %}
    </body>

</html>