{% extends 'base.html' %}
{% block title %} Task Tracker Home {% endblock %}
{% block head %}{% endblock %}
{% block body %}
<div class="container" id="body_cont">
    <div class="d-flex" id="logo"> 
        <div class="d-flex flex-row">
            <h1 class="heading">TO-DO</h1>
        </div>
    </div>
    <div class="d-flex" id="tag_line">
        <div class="d-flex flex-row">
            <h1 class="heading">Task Organization for Dwelling Optimization</h1>
        </div>
    </div>
    <div class="d-flex" id="login_cont">
        <div class="d-flex flex-row" id="login">
            <div class="col-sm">
                <h2 class="subhead">Create an Account</h2>
                    <form action="/household" method="POST">
                        <p>
                            Account name <input type="text" name="account_name">
                            <!-- account name must be less than 20 characters -->
                        </p>
                        <p>
                            Password <input type="password" name="password">
                            <!-- password must be at least 8 characters -->
                            <!-- can change requirements for password based on db -->
                        </p>
                        <p>
                            <input type="submit">
                        </p>
                    </form>
            </div>
        </div>
    </div>
    <div class="d-flex" id="login_cont">
        <div class="d-flex flex-row" id="login">
            <div class="col-sm">
                <h2 class="subhead">Login to account</h2>
                <form action="/household_home" method="POST">
                    <p>
                        Account name <input type="text" name="account_name">
                    </p>
                    <p>
                        Password <input type="password" name="password">
                    </p>
                    <p>
                        <input type="submit">
                    </p>
                </form>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js %}{% endblock %}
