{% extends 'base.html' %}
{% block title %} Welcome {{ household_name }} {% endblock %}
{% block head %}

{# ChartJS #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>


{% endblock %}
</head>
{% block body %}
<br><b></b>
<div class="container">
    <div class="row">
        <div class="col-3">
            <!-- Log Out -->
            <form action="/sign_out">
                <button id="log_out" onclick="location.href='/sign_out'" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Log Out"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                    <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                    <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                  </svg></button>
                </form>

            <h1 class="home" value="{{ household_name}}"> {{ household_name }}'s home </h1>
            <h2 id="user_profile">
            <h2>Pick your user profile</h2>
            <form action="/user_profile">
            <select name="available_users" id="users" class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px">
                {% for user in user_list %}

                <option value="{{ user }}">{{ user }}</option>
                {% endfor %}

            </select>
            <br><br>
            <button id="delete_user" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Delete User"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
            </svg></button>
            <!-- <div id="pop_delete_user" style="display: none">Delete User</div> -->
            <!-- <button type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Tooltip on right">
                Tooltip on right -->
            <br><br>
            <input id="show_tasks" type="submit" value="Show my tasks">

            </form>
            <form action="/add_user" class="needs-validation" novalidate>
                <p>
                    <br><br> 
                    <label for="validationToolUser">Add user to household</label>
                    <input type="text" class="form-control" id="validationTooltipUser"
                    placeholder="username" name="user_name">
                    <div class="valid-tooltip">Looks good!</div>

                    <label for="validationTooltipPhone">Cell phone for reminders</label>
                    <input type="tel" id="validationTooltipPhone" placeholder="555-555-1234" name="phone_num"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control">
                    <div class="input-group"></div>
            <input type="submit">
            </form>
                <!-- <p>
                    <br><br> 
                    <label for="validationToolUser">Add user to household</label>
                    <input type="text" class="form-control" id="validationTooltipUser"
                    placeholder="username" name="user_name">
                    <div class="valid-tooltip">Looks good!</div>

                    <label for="validationTooltipPhone">Cell phone for reminders</label>
                    <input type="tel" id="validationTooltipPhone" placeholder="555-555-1234" name="phone_num"
                    pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control">
                    <div class="input-group"></div>
            <input type="submit" id="add_new_user"> -->
        </div>

        <div class="col-6">
            <button id="house_chart" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="House Chart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                </svg></button>
                <br><br>
                <canvas id="house-chart"></canvas>
                <!-- <div id="pop_house_chart" style="display: none">Show House Chart</div> -->
                <br><br>
        </div>
        <div class="col-3">
            These tasks have been completed:
            <br><br>
            As Needed(refreshes daily):
            <ul class="list-group">
            {% for task in as_needed_list%}
            <!-- <li>{{ task }}</li> -->
            <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
            {% endfor %}
            </ul>
            <br><br>
            Daily
            <ul class="list-group">
                {% for task in daily_list %}
                <!-- <li>{{ task }}</li> -->
                <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
                {% endfor %}
            </ul>
            <br><br>
            Weekly
            <ul class="list-group">
                {% for task in weekly_list %}
                <!-- <li>{{ task }}</li> -->
                <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
                {% endfor %}
                </ul>
            <br><br>
            Monthly    
            <ul class="list-group">
                {% for task in monthly_list %}
                <!-- <li>{{ task }}</li> -->
                <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
                {% endfor %}
                </ul>
                <br><br>
            Other(refreshes daily)   
            <ul class="list-group">
                {% for task in other_list %}
                <!-- <li>{{ task }}</li> -->
                <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
                {% endfor %}
                </ul>
        </div>
    </div>

    <br>

    <div class="row" id="user_tasks_div"
        <h2>Household Member Tasks</h2>
        <div class="col-3" id="user_tasks" id="add_user">

            <div id="tasksdiv" class="row" >
                {% if get_tasks %}
                    <h3>Here are your tasks, {{ user_profile_selected }}</h3>
                    {% for task in get_tasks %}
                    <div id="{{ task }}div" value="{{ task }}" class="form-check">
                    <input type="checkbox" id="flexCheckDefault" class="form-check-input flex-shrink-0" value="{{ task }}" style="font-size: 1.375em;">
                    <label for="task" id="form-check-label" for="flexCheckDefault" class="list-group-item d-flex gap-2" value ="{{ task }}">{{ task }}</label>

                    <!-- <button id="{{ task }}" class="complete">Mark Complete</button> -->
                    <!-- <button id="{{ task }}" class="delete">Delete</button> -->
                    </div>
                    {% endfor %}
                {% else %}
                    <h3>No tasks for {{ user_profile_selected }}, add a task!</h3>
                {% endif %}
                <br><br>
                <div id="row">
                <button id="mark_complete" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Mark Tasks Complete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                    <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                    <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                  </svg></button>
                  <!-- <div id="pop_complete" style="display: none">Mark Selected Tasks Complete</div> -->
                <br><br>
                <button id="delete_tasks" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Delete Task"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                    <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                    <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                </svg></button>
                </div>
                <!-- <div id="pop_delete" style="display: none">Delete Selected Tasks</div> -->
                <!-- <button id="remove_complete">Remove Completed Task</button> -->
            </div>
            <div id="add_task_div" class="col">
                <form action="/add_task">
                    <p>
                    <label for="validationToolTask">Add task</label>
                    <input type="text" class="form-control" id="validationTooltipUser"
                    placeholder="task" name="add_task">

                    Frequency <select name="frequency" id="frequency_id" class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px">
                        <option value="as_needed">As Needed</option>
                        <option value="daily">Daily</option>
                        <option value="weekly">Weekly</option>
                        <option value="monthly">Monthly</option>
                        <option value="other">Other</option>
                        </select>
                    <br><br>
                    <input type="submit">
                </form>
            </div>
        </div>
        <div class="col-6">
            <!-- <button id="chart" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Chart All My Tasks"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
              </svg></button>
                <div id="accordion">
                <div class="card"></div>
              <button id="chart" type="button" class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                Chart All My Tasks
                </button> -->
            <!-- </div> -->
                <!-- <br><br>
            <button id="month_chart" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Chart My Past Month"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                </svg></button>
                <br><br>

                <h2>Chart</h2>

            <canvas id="bar-chart"></canvas>
            <canvas id="bar-chart-month"></canvas> -->

            <!-- </script> -->
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/js/updateTasks.js"></script>
<script src="/static/js/hoverFunctions.js"></script>
<script src="/static/js/charts.js"></script>
<!-- <script src="/static/js/refreshReact.js"></script> -->
{% endblock %}
