{% extends 'base.html' %}
{% block title %} Welcome {{ household_name }} {% endblock %}
{% block head %}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>
<script src="https://kit.fontawesome.com/d2adac5584.js" crossorigin="anonymous"></script>
<script src="
https://cdn.jsdelivr.net/npm/sweetalert2@11.7.2/dist/sweetalert2.all.min.js
"></script>
{% endblock %}
{% block body %}

<div class="container" id="container_dashboard">
    <div class="row" id="logo"> 

            <h1 class="heading1_home">TO-DO</h1>

    </div>
    <div class="row" id="tag_line">
            <h1 class="heading2_home">Task Organization for Dwelling Optimization</h1>

    </div>
    <div class="row" id="navbar">
        <nav class="navbar navbar-custom">
        <span class="navbar-brand"><i class="fa-solid fa-people-roof"></i> {{ household_name }}'s home tasks </span>
            <div class="navbar-nav">
                <a class="nav-item">
                    <form action="/sign_out">
                        <button id="log_out" onclick="location.href='/sign_out'" type="button" class="btn btn-light" data-toggle="tooltip" data-placement="right" title="Log Out"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-in-right" viewBox="0 0 16 16">
                            <path fill-rule="evenodd" d="M6 3.5a.5.5 0 0 1 .5-.5h8a.5.5 0 0 1 .5.5v9a.5.5 0 0 1-.5.5h-8a.5.5 0 0 1-.5-.5v-2a.5.5 0 0 0-1 0v2A1.5 1.5 0 0 0 6.5 14h8a1.5 1.5 0 0 0 1.5-1.5v-9A1.5 1.5 0 0 0 14.5 2h-8A1.5 1.5 0 0 0 5 3.5v2a.5.5 0 0 0 1 0v-2z"/>
                            <path fill-rule="evenodd" d="M11.854 8.354a.5.5 0 0 0 0-.708l-3-3a.5.5 0 1 0-.708.708L10.293 7.5H1.5a.5.5 0 0 0 0 1h8.793l-2.147 2.146a.5.5 0 0 0 .708.708l3-3z"/>
                        </svg></button>
                        </form>
                </a>
            </div>
        </nav>
    </div>
    <div class="row">
        <div class="col-9" id="house_manage_div">
            <div class="row" id="house_div">
                <div class="col-6">
                    <h2 class="light_background">Pick your user profile</h2>
                    <form action="/user_profile">
                    <select name="available_users" id="users" class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px">
                        {% for user in user_list %}

                        <option value="{{ user }}">{{ user }}</option>
                        {% endfor %}

                    </select>
                    <input class="btn btn-secondary" id="show_tasks" type="submit" value="Select User">
                    <br><br>
                    <button id="send_reminder" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Send Text Reminder"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-send" viewBox="0 0 16 16">
                        <path d="M15.854.146a.5.5 0 0 1 .11.54l-5.819 14.547a.75.75 0 0 1-1.329.124l-3.178-4.995L.643 7.184a.75.75 0 0 1 .124-1.33L15.314.037a.5.5 0 0 1 .54.11ZM6.636 10.07l2.761 4.338L14.13 2.576 6.636 10.07Zm6.787-8.201L1.591 6.602l4.339 2.76 7.494-7.493Z"/>
                    </svg></button>
                    <button id="delete_user" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Delete User"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                        <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                        <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                    </svg></button>
                    <br><br>
                    </form>
                </div>
                <div class="col"-6>
                    <form action="/add_user" class="needs-validation" novalidate>
                        <p>
                            <br><br>
                            <div class="col">
                            <label for="validationToolUser">Add user to household</label>
                            <input type="text" class="form-control" id="validationTooltipUser"
                            placeholder="username" name="user_name" required>
                            <div class="invalid-feedback">Please select a username.</div>
                            </div>
                            <div class="col">
                            <label for="validationTooltipPhone">Cell phone for reminders</label>
                            <input type="tel" id="validationTooltipPhone" placeholder="555-555-1234" name="phone_num"
                            pattern="[0-9]{3}-[0-9]{3}-[0-9]{4}" class="form-control" required>
                            <div class="invalid-feedback">Please enter a phone number.</div>
                            </div>
                            <div class="col">
                            <input class="btn btn-secondary" type="submit">
                            </div>
                    </form>
                </div>
            </div>
            <div class="row" id="user_tasks_div">
                <div class="col-6" id="user_tasks">
                    <div class="row">
                        <h1 id="user_div" value="{{ user_profile_selected }}"></h1>
                        <div id="tasksdiv" class="col">
                        {% if get_tasks %}
                            <h2 class="light_background" id="user_heading" value="{{ user_profile_seleced }}">Here are your tasks, {{ user_profile_selected }}</h3>
    
                            {% for task in get_tasks %}
                            <div id="{{ task }}div" value="{{ task }}" class="form-check">
                            <input type="checkbox" id="flexCheckDefault" class="form-check-input flex-shrink-0" value="{{ task }}" style="font-size: 1.375em;">
                            <label for="task" id="form-check-label" for="flexCheckDefault" class="list-group-item d-flex gap-2" value ="{{ task }}">{{ task }}</label>
                            </div>
                            {% endfor %}
                        {% else %}
                            {% if not user_profile_selected %} 
                            <h2 class="light_background">Please select a user</h2>
                            {% else %}
                            <h2 class="light_background">No tasks for {{ user_profile_selected }}, add a task!</h3>
                            {% endif %}
                        {% endif %}                    
                        </div>
                    </div>
                    <br><br>
                    <div class="row">
                        <div class="col">
                            <button id="mark_complete" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Mark Tasks Complete"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-check2-square" viewBox="0 0 16 16">
                                <path d="M3 14.5A1.5 1.5 0 0 1 1.5 13V3A1.5 1.5 0 0 1 3 1.5h8a.5.5 0 0 1 0 1H3a.5.5 0 0 0-.5.5v10a.5.5 0 0 0 .5.5h10a.5.5 0 0 0 .5-.5V8a.5.5 0 0 1 1 0v5a1.5 1.5 0 0 1-1.5 1.5H3z"/>
                                <path d="m8.354 10.354 7-7a.5.5 0 0 0-.708-.708L8 9.293 5.354 6.646a.5.5 0 1 0-.708.708l3 3a.5.5 0 0 0 .708 0z"/>
                            </svg></button>
                            <br><br>
                            <button id="delete_tasks" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="Delete Task"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
                                <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z"/>
                                <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z"/>
                            </svg></button>
                        </div>
                    </div>
                </div>


                <div id="add_task_div" class="col-6">
                    <form action="/add_task" class="needs-validation" novalidate>
                        <p>
                        <div class="col">
                        <label for="validationToolTask" class="form-label">Add task</label>
                        <input type="text" class="form-control" id="validationTooltipUser"
                        placeholder="task" name="add_task" required>
                        <div class="invalid-feedback">Please enter a task</div>
                        </div>
                        <div class="col">
                        Frequency <select name="frequency" id="frequency_id" class="dropdown-menu position-static d-grid gap-1 p-2 rounded-3 mx-0 shadow w-220px">
                            <option value="as_needed">As Needed</option>
                            <option value="daily">Daily</option>
                            <option value="weekly">Weekly</option>
                            <option value="monthly">Monthly</option>
                            <option value="other">Other</option>
                            </select>
                        </div>
                        <br><br>
                        <div class="col">
                        <input class="btn btn-secondary" type="submit">
                        </div>
                    </form>

                </div>

            </div>


                <br><br>
            <div class="row" id="chart_div">
                <div class="col-12">
                <button id="house_chart" type="button" class="btn btn-secondary" data-toggle="tooltip" data-placement="right" title="House Chart"><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-bar-chart-fill" viewBox="0 0 16 16">
                    <path d="M1 11a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v3a1 1 0 0 1-1 1H2a1 1 0 0 1-1-1v-3zm5-4a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v7a1 1 0 0 1-1 1H7a1 1 0 0 1-1-1V7zm5-5a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1v12a1 1 0 0 1-1 1h-2a1 1 0 0 1-1-1V2z"/>
                    </svg></button>
                    <br><br>
                    <canvas id="house-chart"></canvas>
                    <br><br>
                </div>
            </div>
        </div>
                

        <div class="col-3 order-last" id="house_complete_div">
            <h2 class="house_complete_font">These tasks have been completed:</h2>
            <br><br>
            <h4 class="tasks_complete_font">As Needed (refreshes daily):</h3>
            <ul class="list-group">
            {% for task in as_needed_list %}
            <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
            {% endfor %}
            </ul>
            <br><br>
            <h4 class="tasks_complete_font">Daily</h3>
            <ul class="list-group">
                {% for task in daily_list %}
                <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
                {% endfor %}
            </ul>
            <br><br>
            <h4 class="tasks_complete_font">Weekly</h4>
            <ul class="list-group">
                {% for task in weekly_list %}
                <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
                {% endfor %}
                </ul>
            <br><br>
            <h4 class="tasks_complete_font">Monthly</h4>    
            <ul class="list-group">
                {% for task in monthly_list %}
                <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
                {% endfor %}
                </ul>
                <br><br>
            <h4 class="tasks_complete_font">Other (refreshes daily)</h4>   
            <ul class="list-group">
                {% for task in other_list %}
                <li class="list-group-item disabled" id="{{ task }}" value="{{ task }}">{{ task }}</li>
                {% endfor %}
                </ul>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script src="/static/js/updateTasks.js"></script>
<script src="/static/js/hoverFunctions.js"></script>
<script src="/static/js/charts.js"></script>
<script src="/static/js/formValidation.js"></script>
{% endblock %}
