{% extends 'base.html' %}
{% block title %} Welcome {{ household_name }} {% endblock %}
{% block head %}
<!-- SAMPLE CHART -->
{# ChartJS #}
<script src="https://cdn.jsdelivr.net/npm/chart.js@3.5.1/dist/chart.min.js"></script>

{# If you want to use time scales, you have to import a date library and the Chart.js adapter #}
<script src="https://cdn.jsdelivr.net/npm/luxon@2.0.2/build/global/luxon.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/chartjs-adapter-luxon@1.1.0/dist/chartjs-adapter-luxon.min.js"></script>

{# randomColor: generate random colors #}
<script src="https://cdn.jsdelivr.net/npm/randomcolor@0.6.2/randomColor.js"></script>
{% endblock %}
</head>
{% block body %}
<div>
<h1> {{ household_name }}'s home </h1>
<div id="user_profile">
<h2>Pick your user profile</h2>
<form action="/user_profile">
<select name="available_users" id="users">
    {% for user in user_list %}

    <option value="{{ user }}">{{ user }}</option>
    {% endfor %}

</select>
<br><br>
<input type="submit" value="Show my tasks">
</div>
<div id="add_user">
</form>

<form action="/add_user">
    <p>
        Add user to household <input type="text" name="user_name">
<br><br>
<input type="submit">
</form>
</div>
<div>
<br><br>
</div>
<div>
<h1> {{ user_profile_selected }}'s tasks </h1>

<h2>Here's your tasks</h2>
<div id="tasksdiv">
{% for task in get_tasks %}
    <div id="{{ task }}div" value="{{ task }}">
    <label for="task" id="tasklabel" value ="{{ task }}">{{ task }}</label>
    <input type="checkbox" id="taskinput" class='cb' value="{{ task }}">
    <!-- <button id="{{ task }}" class="complete">Mark Complete</button> -->
    <!-- <button id="{{ task }}" class="delete">Delete</button> -->
    </div>
{% endfor %}
    <br>
    <button id="mark_complete">Mark Selected Complete</button>
    <br>
    <button id="delete_tasks">Delete Selected</button>
    <!-- <button id="remove_complete">Remove Completed Task</button> -->
    </div>
    <div id="add_task_div">
<form action="/add_task">
    <p>
        Add task <input type="text" name="add_task">
        Frequency <select name="frequency" id="frequency_id">
            <option value="as_needed">As Needed</option>
            <option value="daily">Daily</option>
            <option value="weekly">Weekly</option>
            <option value="monthly">Monthly</option>
            <option value="other">Other</option>
            </select>

<br><br>
<input type="submit">
</form>
</div>
<br><br>
</div>
<div>
    <button id="chart" class="chart">Show Me Chart</button>
    <h2>Tasks Completed</h2>
    <canvas id="bar-chart"></canvas>

    </script>
</div>

{% endblock %}
{% block js %}
<script src="/static/updateTasks.js"></script>
<!-- <script src="/static/charts.js"></script> -->
{% endblock %}
